html, body{
    height: 100%;
}

.App {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.App .tools {
    text-align: center;
}

.App .d-card-form, .App .m-card-form {
    height: 50%;
    text-align: center;
}

.App .d-card-form .d-card-list, .App .m-card-form .m-card-list {
    text-align: center;
}

.App .d-card-form .d-card-list .d-card, .App .m-card-form .m-card-list .m-card{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 25pt;
    font-weight: bold;
    width: 150px;
    height: 250px;
    background-color: #3b3b3b;
    border-radius: 10px;
    margin:0 10px;
}